<h4>Add Images</h4>

<%= form_for @conn, image_path(@conn, :create), [as: "image", multipart: :true, class: "dropzone", id: "uploader"], fn f -> %>
<% end %>

<span><%= link "Done", to: image_path(@conn, :index) %></span>

Cross-Site Request Forgery
