<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script>
      window.userToken = "<%= Guardian.Plug.current_token(@conn) %>"
    </script>

    <title>Hello Imgur!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0cUEf6eGhM-x4wn7s06XYwoSjtJmqsf8"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-wrapper">
            <div class="col s12">
              <a href="/" class="brand-logo">Imgur</a>
              <ul id="nav-mobile" class="right">
                <%= if @conn.assigns.user do %>
                  <li><%= link "Images", to: image_path(@conn, :index) %></li>
                  <li><%= link "+Upload", to: image_path(@conn, :new) %></li>
                  <li><%= link "Logout", to: user_path(@conn, :logout) %></li>
                <% else %>
                  <li><%= link "Sign In", to: user_path(@conn, :request, "github") %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>
      window.FLASH_INFO = "<%= get_flash(@conn, :info) %>"
      window.FLASH_ERROR = "<%= get_flash(@conn, :error) %>"
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
